/* Color Theme Swatches in Hex */

$ct1h: #44428C;
$ct2h: #F2B90F;
$ct3h: #F2A30F;
$ct4h: #F2DFBB;
$ct5h: #F2561D;
$ct6h: #FFF3EA;

/* Color Theme Swatches in RGBA */

$ct1r: rgba(68, 66, 140, 1);
$ct2r: rgba(242, 185, 15, 1);
$ct3r: rgba(242, 163, 15, 1);
$ct4r: rgba(242, 223, 187, 1);
$ct5r: rgba(242, 86, 29, 1);
$ct6r: rgba(255, 243, 234, 1);

.swiper{
    height: 16vh;
    // multiplicar por 1.77
    // width: 28.32vh;
    width: calc(16vh * 1.77);
    // margin-top: 5vh;
    background-color: transparent;
    
    .swiper-button-prev{
        color: $ct4r;
        display: none;
    }
    .swiper-button-next{
        color: $ct4r;
        display: none;
    }
    .swiper-pagination{
        display: none;
        .swiper-pagination-bullet{
            background-color: $ct4r;
        }
    }
    .swiper-wrapper{
        background-color: transparent;
        height: 100%;
        width: 100%;
        .swiper-slide{
            max-height: 100%;
            background-color: transparent;
            img{
                // border-radius: 50%;
                background-color: transparent;
                max-height: 100%;
                width: auto;
            }
        }
    }
}