/* Color Theme Swatches in Hex */

$ct1h: #44428c;
$ct2h: #f2b90f;
$ct3h: #f2a30f;
$ct4h: #f2dfbb;
$ct5h: #f2561d;
$ct6h: #fff3ea;

/* Color Theme Swatches in RGBA */

$ct1r: rgba(68, 66, 140, 1);
$ct2r: rgba(242, 185, 15, 1);
$ct3r: rgba(242, 163, 15, 1);
$ct4r: rgba(242, 223, 187, 1);
$ct5r: rgba(242, 86, 29, 1);
$ct6r: rgba(255, 243, 234, 1);
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//font-family: 'Space Mono', monospace;
// -webkit-
// -moz-
// -o-
// -ms-
.navBar {
  // background-color: red;
  display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "nn nb nu";
  .navName {
    grid-area: nn;
    background-color: transparent;
    // background-color: green;
    border-radius: 3vh;
    margin: 2vh 2vh 2vh 0;
    color: black;
    text-decoration: none;
    @include center;
    p {
      font-weight: bolder;
      font-size: 4vh;
      line-height: 0;
      text-align: center;
      margin-top: 1vh;
    }
  }
  .navButtons {
    grid-area: nb;
    
    border-radius: 3vh;
    margin: 2vh;
    // background-color: green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .navButton {
      background-color: transparent;
      border: none;
      // background-color: red;
      padding: 0;
      margin: 0 1vh 0 1vh;
      height: 100%;
      width: 17%;
      border-radius: inherit;
      font-family: "Space Mono", monospace;
      font-weight: bolder;
      font-size: 1.7vh;
      text-decoration: none;
      color: black;
      @include center;
    }
    ul{
      background-color: red;
    }
  }
    .navUser {
      grid-area: nu;
      
      border-radius: 3vh;
      margin: 2vh 0 2vh 2vh;
      // background-color: green;
      // display: none;
    }
  }
  
