/* Color Theme Swatches in Hex */

$ct1h: #44428c;
$ct2h: #f2b90f;
$ct3h: #f2a30f;
$ct4h: #f2dfbb;
$ct5h: #f2561d;
$ct6h: #fff3ea;

/* Color Theme Swatches in RGBA */

$ct1r: rgba(68, 66, 140, 1);
$ct2r: rgba(242, 185, 15, 1);
$ct3r: rgba(242, 163, 15, 1);
$ct4r: rgba(242, 223, 187, 1);
$ct5r: rgba(242, 86, 29, 1);
$ct6r: rgba(255, 243, 234, 1);
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//font-family: 'Space Mono', monospace;
// -webkit-
// -moz-
// -o-
// -ms-

.mainSection {
  overflow: hidden;
  .mainBase {
    background-color: $ct3h;
    height: 40%;
    width: 100%;
    border-radius: inherit;

    .contentHeader {
      height: 30%;
      width: 100%;
      border-radius: inherit;
      @include center;
    }
    .contentBody {
      height: 224%;
      width: 100%;
      overflow: auto;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .cart {
        background-color: $ct6r;
        border-radius: 3vh;
        height: 90%;
        width: 92%;
        margin: 0 4% 4% 4%;
        font-family: "Space Mono", monospace;
      }
    }
    .contentBody::-webkit-scrollbar {
      display: none;
    }
  }
}
