/* Color Theme Swatches in Hex */
$ct1h: #44428c;
$ct2h: #f2b90f;
$ct3h: #f2a30f;
$ct4h: #f2dfbb;
$ct5h: #f2561d;
$ct6h: #fff3ea;
/* Color Theme Swatches in RGBA */
$ct1r: rgba(68, 66, 140, 1);
$ct2r: rgba(242, 185, 15, 1);
$ct3r: rgba(242, 163, 15, 1);
$ct4r: rgba(242, 223, 187, 1);
$ct5r: rgba(242, 86, 29, 1);
$ct6r: rgba(255, 243, 234, 1);
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
// -webkit-
// -moz-
// -o-
// -ms-

.item-detail-container {
  border: red solid 1px;
  height: 100%;
  width: 100%;
  .item-detail-body {
    border: black solid 1px;
    height: 30%;
    width: 100%;
    margin: 0 0 0 0;
    .background-container {
      background-color: cyan;
      height: 100%;
      width: 100%;
      border-radius: 4vh;
      .background-header {
        border: green solid 1px;
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      .background-body {
        border: green solid 1px;
        height: 311%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .item-detail-body-container {
          border: red solid 1px;
          background-color: white;
          height: 95%;
          width: 90%;
          border-radius: 3vh;
          overflow: auto;
          display: flex;
          flex-direction: column;
          // @include center();
          .item-detail-card{
            background-color: olive;
          }
        }
      }
    }
  }
}


//   .centralBody{
//     .bodyBase {
//       .baseContainer{
//         .containerBase{
//           .itemDetailContainer{
//             //para modificar en cada elemento
//             border: green solid 5px;
//             // background-color: green;
//             height: 435%;
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             justify-content: flex-start;
//             align-items: center;
//             // display: flex;
//             // flex-direction: row;
//             // flex-wrap: wrap;
//             // justify-content: space-evenly;
//             // overflow: auto;

//             -ms-overflow-style: none; /* IE and Edge */
//             scrollbar-width: none; /* Firefox */
//             .itemDetailBody{
//                 background-color: white;
//                 border: red solid 1px;
//                 height: 100%;
//                 width: 90%;
//                 margin-bottom: 5%;
//                 border-radius: 3vh;
//             }
//           }

//         //   .itemListContainer::-webkit-scrollbar {
//         //     display: none;
//         //   }
//         }
//       }
//     }
// }
