*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Color Theme Swatches in Hex */
$ct1h: #44428c;
$ct2h: #f2b90f;
$ct3h: #f2a30f;
$ct4h: #f2dfbb;
$ct5h: #f2561d;
$ct6h: #fff3ea;
/* Color Theme Swatches in RGBA */
$ct1r: rgba(68, 66, 140, 1);
$ct2r: rgba(242, 185, 15, 1);
$ct3r: rgba(242, 163, 15, 1);
$ct4r: rgba(242, 223, 187, 1);
$ct5r: rgba(242, 86, 29, 1);
$ct6r: rgba(255, 243, 234, 1);
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
// -webkit-
// -moz-
// -o-
// -ms-

// MOVIL
// @media only screen and (max-width: 767px){}
// TABLET VERTICAL
// @media only screen and (min-width: 768px) and (max-width: 1023px){}
// DESKTOP
// @media only screen and (min-width: 1024px){}
// X-LARGE
// @media only screen and (min-width: 1200px){}
// XX-LARGE
// @media only screen and (min-width: 1400px){}
// XXX-LARGE
// @media only screen and (min-width: 1800px){}

.App {
  width: 100vw;
  height: 100vh;
  @include center();
  .main-screen {
    border: orange 7px;
    border-style: ridge groove groove ridge;
    height: 98%;
    width: 97%;
    max-width: 1920px;
    border-radius: 4vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .lateral-section {
      background-color: green;
      height: 100%;
      width: 12.5%;
    }
    .main-section {
      height: 100%;
      width: 87.5%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .header{
        background-color: green;
        height: 15%;
        width: 100%;
      }
      .body{
        // background-color: yellow;
        border: red solid 1px;
        height: 85%;
        width: 100%;
        padding: 1vh 1vh 0 1vh;
        @include center();
      }
    }
  }
}


// .App {
//   width: 100vw;
//   height: 100vh;
//   @include center();
//   .mainScreen {
//     border: blue 7px;
//     border-style: ridge groove groove ridge;
//     height: 98%;
//     width: 97%;
//     max-width: 1920px;
//     border-radius: 4vh;
//     // overflow: hidden;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     .lateralSection {
//       background-color: green;
//       height: 100%;
//       width: 12.5%;
//     }
//     .mainSection {
//       height: 100%;
//       width: 87.5%;
//       display: flex;
//       flex-direction: column;
//       justify-content: flex-start;
//       .centralHead {
//         background-color: yellowgreen;
//         height: 15%;
//         width: 100%;
//       }
//       .centralBody {
//         height: 85%;
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         .bodyAd {
//           height: 30%;
//           width: 100%;
//           display: flex;
//           flex-direction: column;
//           justify-content: flex-end;
//           align-items: center;
//           padding: 1vh 1vh 0 1vh;
//           .adBase {
//             background-color: yellowgreen;
//             height: 100%;
//             width: 100%;
//             border-radius: 4vh;
//             overflow: hidden;
//             @include center();
//           }
//         }
//         .bodyBase {
//           display: flex;
//           flex-direction: column;
//           justify-content: flex-end;
//           align-items: center;
//           padding: 1vh 1vh 0 1vh;
//           .baseContainer {
//             background-color: yellowgreen;
//             height: 100%;
//             width: 100%;
//             border-radius: 4vh;
//             display: flex;
//             flex-direction: column;
//             justify-content: flex-start;
//             align-items: center;
//             .containerHeader {
//               height: 25%;
//               width: 100%;
//             }
//             .containerBase {
//               height: 75%;
//               width: 100%;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// TABLET VERTICAL
@media only screen and (min-width: 768px) and (max-width: 1023px){
}
